bin/
target/
.settings/
src/main/java/org/enotron/simulator/web_service
.classpath

*.class
# Package Files #
*.jar
*.war
*.ear
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
